.modal {
  background-color: #0000004d;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.modal:hover {
  cursor: pointer;
}

.modal_closed {
  visibility: hidden;
  opacity: 0;
}

.modal__body {
  width: 496px;
  height: 436px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 20px;
  margin: auto;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  position: fixed;
}

.modal__body:hover {
  cursor: default;
}

.modal__close-btn {
  position: absolute;
  top: 22px;
  right: 30px;
  background-image: url(../images/close-btn.svg);
  background-color: transparent;
  border: none;
  height: 16px;
  width: 16px;
}

.modal__form {
  margin: 0px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.form__title {
  margin-top: 28px;
  margin-left: 28px;
  margin-bottom: 0px;
}

.form__label {
  margin-top: 24px;
  margin-bottom: 4px;
}

.form__label_radio {
  margin-left: 8px;
  opacity: 50%;
}

.form__input {
  padding: 5px;
  border: none;
  border-bottom: #000 solid 1px;
}

.form__radio {
  margin: 8px 0px;
}

.form__input_radio {
  accent-color: #000;
  opacity: 50%;
}

.form__input_radio:hover {
  cursor: pointer;
}

.form__input_radio:checked,
.form__input_radio:checked + label {
  accent-color: #000;
  opacity: 100%;
}

.modal__form-submit-btn {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 36px;
  width: 124px;
  transition: 0.2s ease-in-out;
  margin-top: 32px;
}

.modal__form-submit-btn:hover:not(:disabled) {
  cursor: pointer;
  background-color: #00000099;
}

.modal__form-submit-btn_disabled {
  background-color: #0000004d;
}

.modal__form-submit-btn_disabled:hover {
  cursor: default;
}
