.toggle-switch__checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-switch__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 26px;
  background-color: #fff;
  border-radius: 25px;
  position: relative;
  border: 2px #7e7e7e solid;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

.toggle-switch__button {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  transition: 0.2s;
  background: #000;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.toggle-switch__checkbox:checked + .toggle-switch__button {
  left: calc(100% + 2px);
  transform: translateX(-100%);
}

.toggle-switch__label:hover {
  border-color: #000;
}

.toggle-switch__label:hover .toggle-switch__label_fahrenheit,
.toggle-switch__label:hover .toggle-switch__label_celcius {
  color: #fff;
}

.toggle-switch__label_fahrenheit,
.toggle-switch__label_celcius {
  position: absolute;
  margin: 0;
  font-family: "Cabinet Grotesk", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  z-index: 2;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  mix-blend-mode: difference;
}

.toggle-switch__label_fahrenheit {
  top: -2px;
  left: -2px;
}

.toggle-switch__label_celcius {
  top: -2px;
  right: -2px;
}

.toggle-switch__label:active .toggle-switch__button {
  width: 28px;
}
