.card {
  display: flex;
  flex-direction: column;
  height: 328px;
  width: 328px;
}

.card__title {
  font-family: "CabinetGrotesk-Regular", sans-serif;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  color: #00000099;
  padding: 2px 12px;
  border-radius: 4px;
  background-color: #fff;
  align-self: center;
  margin-top: 16px;
  z-index: 1;
}

.card__image {
  z-index: 0;
  margin-top: -65px;
  border-radius: 16px;
  width: 323px;
  height: 326px;
  object-fit: cover;
}

.card__like-btn {
  background: transparent url(../../images/like.svg) no-repeat center;
  border: none;
  width: 18px;
  height: 15px;
}

.card__like-btn_liked {
  /* TODO implement liked styles*/
  border: none;
  width: 18px;
  height: 15px;
}

.card__like-btn_hidden {
  display: none;
}

.card:hover {
  cursor: pointer;
}

@media screen and (max-width: 475px) {
  .card {
    height: 295px;
    width: 295px;
  }
}
