.App {
  margin: auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f3f3f3;
  font-family: CabinetGrotesk-Bold, CabinetGrotesk-Regular, Arial, Helvetica,
    sans-serif;
}
