.weathercard {
  height: 80px;
  border-radius: 12px;
  color: #fff;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.weathercard__background_day_clear {
  background-color: #00a3ff;
}

.weathercard__background_day_precip {
  background-color: #6ca6c7;
}

.weathercard__background_night_clear,
.weathercard__background_night_precip {
  background-color: #286897;
}

.weathercard__temp {
  padding: 0;
  align-self: center;
  margin-left: 16px;
}

@media screen and (max-width: 475px) {
  .weathercard {
    font-size: 30px;
  }
  .weathercard__temp {
    margin-left: 10px;
  }
}
