.item-modal {
  background-color: #0000004d;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  z-index: 3;
}

.item-modal:hover {
  cursor: pointer;
}

.item-modal_closed {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.item-modal__body {
  width: 498px;
  height: 610px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 20px;
  margin: auto;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  position: fixed;
}

.item-modal__body:hover {
  cursor: default;
}

.item-modal__close-btn {
  position: absolute;
  top: 22px;
  right: 30px;
  background-image: url(../../images/close-btn.svg);
  background-color: transparent;
  border: none;
  height: 16px;
  width: 16px;
  z-index: 3;
   filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(252deg)
    brightness(103%) contrast(101%);
  /* With default item cards, white visibility is an issue*/
}

.item-modal__close-btn:hover {
  cursor: pointer;
}

.item-modal__image {
  width: 498px;
  height: 498px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.item-modal__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 25px auto auto 32px;
  row-gap: 12px;
}

.item-modal__name, .item-modal__weather, .item-modal__delete-btn {
  margin: 0;
}

.item-modal__delete-btn {
  color: #FF4D00;
  transition: 0.2s;
  justify-self: flex-end;
  margin-right: 32px;
  border: none;
  background-color: inherit;
  font-size: 20px;
}

.item-modal__delete-btn_visibile {
  visibility: visible;
}

.item-modal__delete-btn_hidden {
  visibility: hidden;
}

.item-modal__delete-btn:hover {
  cursor: pointer;
  color: #FF4D00cc;
}