.sidebar__info {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.sidebar__user-icon {
  margin-right: 16px;
  height: 40px;
  width: 40px;
}

.sidebar__user-icon_placeholder{
  margin-right: 16px;
  height: 40px;
  width: 40px;
  background-color: #0084ff;
  border-radius: 50%;
}

.sidebar__user-name {
  margin: 0px;
  line-height: 25px;
  font-size: 20px;
}

.sidebar__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  line-height: 25px;
  font-size: 20px;
}